/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* shared styles */
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    border-radius: 8px;
    color: #FFF;
    font-size: 1.25rem;
    background: #FF900E;
    padding: 20px 25px;
    color: #FFF;
    cursor: pointer;
    border: 0;
}

/* header styles */
header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title{
    font-size: 2.8rem;
    font-weight: 700;
    color: #131313;
}

nav > ul {
    display: flex;
}

nav li{
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}
.banner-description{
    color: #727272;
}
.banner img{
    margin-top: 20px;
    width: 100%;
}


/* responsive media queries */
/* mobile devices */
@media screen and (max-width: 576px) {
    header{
        padding: 20px;
    }
    nav {
        flex-direction: column;
    }
}

/* tablet or medium devices */
@media screen and (min-width:576px) and (max-width: 960px) {
    header{
        padding: 50px;
    }
    nav {
        flex-direction: column;
    }
}

/* main styles */
main{
    max-width: 1440px;
    margin: 0 auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-content{
    padding-left: 70px;
    padding-right: 70px;
}
.teams-title{
    font-size: 2.8rem;
}
.teams-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-title .text-features{
    color: #FF900E;
    font-weight: 700;
}